html {
    box-sizing: border-box;
    margin: 0;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    border: 0px;
    font-family: Roboto, sans-serif;
  }

body {
    margin: 0;
}

h1 {
    font-size: 48px;
}

li a {
    text-decoration: none;
    color: white;
    
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 10px 25px;
}

.content {
    display: flex;
    flex-direction: column;
}

.header, .intro {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    align-items: center;  
    justify-content: flex-start;
}

.header h3 {
    font-size: 24px;
}

.header ul,
.intro-text p {
    font-size: 18px;
    color: #E5E7EB
}

.header h3, 
.header ul {
    flex: 1;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.intro {
    display: flex;
    color: white;
    background-color: #1F2937;
    gap: 30px;
}

.intro img {
    width: 400px;

}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
}

.info-section h2 {
    font-size: 36px;
}

.picture-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.picture-section img {
    width: 250px;
    border-radius: 8px;
    border: 4px solid #555;
    vertical-align: bottom;
}

.img-and-text p{
    max-width: 240px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12gpx;
}
.quote-section p {
    margin: 0px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;

}
.person {
    align-self: flex-end;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
}

.final-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: #F9FAF8
}

.call-to-action {
    padding: 40px 30px;
    background-color:#3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.call-to-action button {
    border: 2px solid white;
    padding: 10px 25px;
    align-self: center;
}

.call-text p {
    font-size: 18px;
    margin: 4px 0px;
}

.call-text h4 {
    font-size: 24px;
    margin: 12px 0px;
}
