html {
    box-sizing: border-box;
    margin: 0;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    border: 0px;
  }

body {
    margin: 0;
}

h1 {
    font-size: 48px;
}

li a {
    text-decoration: none;
    color: white;
    
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 10px 25px;
}

.navy-section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
}

.header, .intro {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    align-items: center;  
    justify-content: flex-start;
}

.header h3 {
    font-size: 24px;
}

.header ul,
.intro-text p {
    font-size: 18px;
    color: #E5E7EB
}

.header h3, 
.header ul {
    flex: 1;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.intro {
    display: flex;
    color: white;
    background-color: #1F2937;
    gap: 30px;
}

.intro img {
    width: 400px;

}